div#footer
    div.container
        p.text-muted Copyright &copy; 2014 Codexa and its individual contributors.&nbsp;
            span Licensed under the MIT.&nbsp;
            a(href="https://github.com/codexa/pictroid") View the source!