footer
	.container
		.column-container
			.column.top
				img.footer-logo(src="/images/logo/light.png", alt="Pictroid")
			.column
				h2 About
				ul
					li
						a(href="/about") About us
			.column
				h2 Account
				ul
					if authed && user
						li
							a(href='/'+user.name) Profile
						li
							a(href='/'+user.name+'/settings') Settings
						li
							a(href="/signout") Sign Out
						li
							a(href="/upload") Upload
					else
						li
							a(href="/signin") Sign In
						li
							a(href="/signup") Sign Up
			.column
				h2 Explore
				ul
					li
						a(href="/explore/popular") Popular pics
					li
						a(href="/explore/rated") Highest rated
					li
						a(href="/explore/latest") Latest feed
					li
						a(href="/explore/categories") Categories
		div.text-muted 
			| Pictroid is in <span style="font-size: 1rem;">&alpha;</span> (Alpha) development stage.
			br
			| A Project by the &nbsp;
			a(href="https://codexa.org") Codexa Organization