div.navbar.navbar-default(role='navigation', class=headerClasses)
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/")
		div.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/") Home
				li
					a.dropdown-toggle(href="#", data-toggle="dropdown") Explore 
						b.caret
					ul.dropdown-menu
						li
							a(href="/explore/popular") Popular
						li
							a(href="/explore/rated") Highest Rated
						li
							a(href="/explore/latest") Latest feed
						li
							a(href="/explore/categories") Categories
				if authed
					li
						a(href="/upload") Upload
				li
					a(href="/about") About
				if authed && user
					li
						!= '<a class="dropdown-toggle" href="#" data-toggle="dropdown">'
						!= user.first+' '+user.last
						!= '<b class="caret"></b></a>'
						ul.dropdown-menu
							li
								a(href='/'+user.name) Profile
							li
								a(href='/'+user.name+'/settings') Settings
							li
								a(href='/signout') Sign Out
				else
					li
						a.btn.clear(href="/signin") Sign In
.navbar-fix