mixin chickenLittle
	.banner.background-wallpaper
		.container
			| The sky is falling, but you can help!  Post a pic to help us track Near-Earth Objects and save the chickens from destruction.&nbsp;&nbsp;
			if authed
				a.btn.clear(href="/upload") Upload
			else
				a.btn.clear(href="/signin") Sign In
				| &nbsp;&nbsp;or
				a.btn.clear(href="/signup") Sign Up
			
mixin feed()
	.feed
		each val in results
			.feed-item
				img(src=val.src.get("src"), alt='')
				.stats
					ul(class="details")
						li(class="user")
							a(href="#")
								| User01
						li(class="views")
							| 532
						li(class="comments")
							| 23
				.text
					h4=val.image.get("name")
					p=val.image.get("description")