mixin chickenLittle
	.jumbotron.dark.center.fixed-background(style="background-image: url(/images/wallpaper.jpg); padding-top: 70px; padding-bottom: 10px;")
		.container
			| The sky is falling, but you can help!  Post a pic to help us track Near-Earth Objects and save the chickens from destruction.&nbsp;&nbsp;
			a.btn.clear(href="/upload") Upload
			
mixin feed()
	.container.feed
		.feed-item
			img(src='/images/wallpaper.jpg', alt='')
			.text
				h4 Title
				p
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
		.feed-item
			img(src='/images/wallpaper.jpg', alt='')
			.text
				h4 Title
				p
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
		.feed-item
			img(src='/images/wallpaper.jpg', alt='')
			.text
				h4 Title
				p
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
		.feed-item
			img(src='/images/wallpaper.jpg', alt='')
			.text
				h4 Title
				p
					| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
