mixin chickenLittle
	.jumbotron.dark.center.fixed-background(style="background-image: url(/images/wallpaper.jpg); padding-top: 70px; padding-bottom: 10px;")
		.container
			| The sky is falling, but you can help!  Post a pic to help us track Near-Earth Objects and save the chickens from destruction.&nbsp;&nbsp;
			a.btn.clear(href="/upload") Upload