extends layout

block head
	title About | Pictroid
	
block content
	.page
		.container
			h1 About Pictroid
			hr(style="height:1px;")
			p Pictroid is a app that enables users to tag images of NEOs (Near-Earth Objects) with astronomical data. It provides a chatting and sharing system, as well as aggregating the data into larger graphs of asteroid activity.
			p The source code for Pictroid can be found on 
				a(href="https://github.com/codexa/pictroid") GitHub