extends layout

block head
	title Browse | Pictroid
	
block variables
	- var headerClasses = 'navbar-absolute'

block content
	+chickenLittle()
	.page
		.container
			h3
				a(href="/browse?sort=trending") Popular
			h3
				a(href="/browse?sort=trending") Most Recent
			h3
				a(href="/browse?sort=trending") Highest Rated
			hr
		+feed()