extends layout

block head
	title Categories | Pictroid
	
block variables
	- var headerClasses = 'navbar-absolute'

block content
	+chickenLittle()
	.page
		br
		.container
			h3
				a(href="/explore/categories").active Categories
			hr
			.col-md-5
				h4
					a(href="/explore/popular") Popular
				h4
					a(href="/explore/rated") Highest Rated
				h4
					a(href="/explore/latest") Latest
				h4
					a(href="/explore/solarsystem") Solar System
				h4
					a(href="/explore/exoplanets") Exoplanets
			.col-md-5
				h4
					a(href="/explore/stars") Stars
				h4
					a(href="/explore/starclusters") Star Clusters
				h4
					a(href="/explore/nebulae") Nebulae
				h4
					a(href="/explore/galaxies") Galaxies
				h4
					a(href="/explore/quasars") Black Holes and Quasars
			hr
			+feed()
	script.
		window.onload = function() {
			var current = '#{filter}',
				a = $('h3 > a');
			
			if(current === "popular") {
				a[0].className = "active";
				a[1].className = a[2].className = "";
			} else if(current === "rated") {
				a[1].className = "active";
				a[0].className = a[2].className = "";
			} else if(current === "latest") {
				a[2].className = "active";
				a[0].className = a[1].className = "";
			}
		};