extends layout

block head
	title= picObject.get("name")+' | Pictroid'
	
block variables
	- var headerClasses = 'navbar-absolute'

block content
	+chickenLittle()
	.page
		.container.image-page
			h1.image-title= picObject.get("name")
			hr
			img.image-image(src="", alt=picObject.get("name"))
			.image-stats
				.image-by
					i by&nbsp;
					a(href="#") username
				.image-tags
					.tag #foo
					.tag #bar
				.image-social
					ul(class="details")
						li(class="views")
							| 532
						li(class="comments")
							| 23
			.image-details
				.image-description 
					p= picObject.get("description")
				.image-comments
					h2 Comment on this pic
					if !authed
						p.image-comments-notice Please <a href="/signin">Sign In</a> or 
							<a href="/signup">Sign Up</a> to comment.
					.comment
						a.comment-user(href="#") Foo User
						.comment-text Bar baz qux
					.comment
						a.comment-user(href="#") Foo User
						.comment-text Bar baz qux
					.comment
						a.comment-user(href="#") Foo User
						.comment-text Bar baz qux
					.comment
						a.comment-user(href="#") Foo User
						.comment-text Bar baz qux
					.comment
						a.comment-user(href="#") Foo User
						.comment-text Bar baz qux