extends layout

block head
	title About | Pictroid
	
block content
	.page
		.container
			h1 Confirm your email address
			hr(style="height:1px;")
			p A confirmation email has been sent to #{email}. Please click on the confirmation link in the email to activate your account.