extends layout

block head
	title Email confirmed | Pictroid
	
block content
	.page
		.container
			h1 Thanks for confirming your email #{username}
			hr(style="height:1px;")
			p Please <a href="/signin">Sign In</a> now