extends layout

block head
	title Explore | Pictroid
	
block variables
	- var headerClasses = 'navbar-absolute'

block content
	+chickenLittle()
	.page
		br
		.container
			h3
				a(href="/explore?sort=popular") Popular
			h3
				a(href="/explore?sort=rated") Highest Rated
			h3
				a(href="/explore?sort=latest") Latest
			hr
		+feed()