extends layout

block head
	title Socially exploring the universe | Pictroid

block variables
	- var bodyClasses = 'background-wallpaper'
	- var headerClasses = 'navbar-absolute navbar-transparent'

block content
	.jumbotron.transparent.center
		.container
			img(src="/images/logo/icon.png", alt="Pictroid", height="200")
			h2 Socially exploring the universe 
			if authed
				a.btn.clear(href="/explore") Explore
				a.btn.clear(href="/upload") Upload
			else
				a.btn.clear(href="/explore") Explore
				a.btn.clear(href="/signin") Sign In
	.page
		br
		.container
			h3
				a(href="/explore/popular") Popular
			hr
			+feed()
