extends layout

block variables
	- var headerClasses = 'navbar-absolute navbar-transparent'

block content
	.jumbotron.dark.center.fixed-background(style="background-image: url(/images/wallpaper.jpg);")
		.container
			img(src="/images/logo/icon.png", alt="Pictroid", height="200")
			h2 Welcome to Pictroid!
			a.btn(href="/signin") Sign In
			a.btn(href="/signup") Sign Up