extends layout

block variables
	- var headerClasses = 'navbar-absolute navbar-transparent'

block content
	.jumbotron.dark.center.fixed-background(style="background-image: url(/images/wallpaper.jpg);")
		.container
			img(src="/images/logo/icon.png", alt="Pictroid", height="200")
			h2 Welcome to Pictroid!
			if authed
				a.btn.clear(href="/upload") Upload			
			else
				a.btn.clear(href="/signin") Sign In
				a.btn.clear(href="/signup") Sign Up
	.feed
		h3(style="color:#6f6f6f;") Popular
		hr
