extends layout

block variables
	- var headerClasses = 'navbar-absolute navbar-transparent'

block content
	.jumbotron.dark.center.fixed-background(style="background-image: url(/images/wallpaper.jpg);")
		.container
			img(src="/images/logo/icon.png", alt="Pictroid", height="200")
			h2 Welcome to Pictroid!
			if authed
				a.btn.clear(href="/upload") Upload			
			else
				a.btn.clear(href="/signin") Sign In
				a.btn.clear(href="/signup") Sign Up
<<<<<<< HEAD
	.container
		h3(style="color:#6f6f6f;")
			a(href="/browse?sort=trending") Popular
		hr
=======
	.page
		.container
			h3(style="color:#6f6f6f;") Popular
			hr
>>>>>>> 9a9bf68fd3560095af8342888e5fc3483ec51f98
		+feed()
