extends layout

block variables
	- var header = { transparent: true, dark: true }	

block content
	.jumbotron.dark.center.fixed-background(style="background-image: url(/images/wallpaper.jpg);")
		.container
			img(src="/images/logo/icon.png", alt="Pictroid", height="200")
			h2 Welcome to Pictroid!