extends layout

block variables
	- var headerClasses = 'navbar-absolute navbar-transparent'

block content
	.jumbotron.dark.center.background-wallpaper
		.container
			img(src="/images/logo/icon.png", alt="Pictroid", height="200")
			h2 Socially exploring the universe 
			if authed
				a.btn.clear(href="/upload") Upload			
			else
				a.btn.clear(href="/signin") Sign In
				a.btn.clear(href="/explore") Explore
	.page
		br
		.container
			h3
				a(href="/explore/popular") Popular
			hr
		+feed()
