doctype html
html
head
    block header
    title= title
    
    // Meta
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    
    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
body
    include components/header
    div.container
        block content