extends layout

block head
	title Password reset | Pictroid

block variables
	- var bodyClasses = "background-wallpaper"
	- var headerClasses = 'navbar-fixed-top navbar-transparent'
	
block content
	form.form-signin.form-transparent(role="form", action="/password_reset", method="POST", onsubmit="return(validate());")
		img(src="/images/logo/icon.png", alt="Pictroid", height="75")
		hr
		input.form-control(type="hidden", name="_csrf", value="#{csrftoken}")
		input.form-control(type="email", name="email", placeholder="Email")
		p(class="emsg" style="color:#DD7674;display:none;")
		button.btn.btn-lg.btn-primary.btn-block(type="submit") Reset password
		script.
			console.log(document.referrer);
			console.log(document.referrer.substr(document.referrer.indexOf("com")+3, document.referrer.length));
			//- if(document.referrer.substr((document.referrer.indexOf("com")+3), document.referrer.length) !== "/signin") {
			//- 	window.location.replace("/signin");
			//- }
			function validate(){
				var valid = true,
					ermsg,
					form = window.document.forms[0],
					emsg = window.document.querySelectorAll(".emsg")[0];
				if(!(/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/g).test(form.email.value)) {
					ermsg = "Invalid email, enter a valid email like john.n-doe@gmail.com";
					valid = false;
				}
				if (valid) {
					emsg.style.display = "none";
					return valid;
				} else {
					emsg.innerHTML = ermsg;
					emsg.style.display = "block";
					return valid;
				}
			}