extends layout

block head
	title Password reset request | Pictroid
	
block content
	.page
		.container
			h1 Your password change request has been submitted for the <span style="color:#a67c52"> #{email} </span> associated account
			hr(style="height:1px;")
			p Please check your <span style="color:#a67c52"> #{email} </span> inbox for a reset email and follow the instructions
	script.
		setTimeout(function(){
			window.location.replace("/");
			},
			5000
		);