extends layout

block head
	title Email confirmed | Pictroid
	
block content
	.page
		.container
			h1 Your password has been successfully changed <span style="color:#a67c52"> #{username} </span>
			hr(style="height:1px;")
			p To finish you have to Sign in again. You'll automatically be redirected to Sign In
			p If this doesn't work then please follow this <a href="/signin">Sign In Link</a>
	script.
		setTimeout(function(){
			window.location.replace("/signout?return_to=/signin");
			},
			3000
		);