extends layout

block head
	title Sign In | Pictroid

block variables
	- var bodyStyle = "background-image: url(/images/wallpaper.jpg); background-color: #000000;"
	- var headerClasses = 'navbar-fixed-top navbar-transparent'

block content
	.jumbotron.dark.center(style="background: transparent;")
		form.form-signin.form-transparent(role="form", action="", method="POST")
			img(src="/images/logo/icon.png", alt="Pictroid", height="75")
			hr
			input.form-control(type="text", name="username", placeholder="Username")
			input.form-control(type="password", name="password", placeholder="Password")			
			//
				p
					| Forgot password?  Then <a href="/signin/reset">Reset Password</a>
				br
			button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign In
			br
			p(style="text-align: center;")
				| Don't have an account?  Then <a href="/signup">Sign Up</a>