extends layout

block head
	title Sign In | Pictroid

block variables
	- var bodyClasses = "background-wallpaper"
	- var headerClasses = 'navbar-fixed-top navbar-transparent'

block content
	form.form-signin.form-transparent(role="form", action="/signin", method="POST", onsubmit="return(validate());")
		img(src="/images/logo/icon.png", alt="Pictroid", height="75")
		hr
		input.form-control(type="hidden", name="_csrf", value="#{csrftoken}")
		input.form-control(type="text", name="username", placeholder="Username")
		input.form-control(type="password", name="password", placeholder="Password")
		if error
			style.
				.emsg {
					display: block !important;
				}
		div.emsg
			h5 Errors:
			ul.emul
				li #{error}
		button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign In
		br
		p(style="text-align: center;")
			| Forgotten your password?  Then <a href="/password_reset">Reset Password</a>
		p(style="text-align: center;")
			| Don't have an account?  Then <a href="/signup">Sign Up</a>
		script.
			function validate(){
				var valid = true,
					ermsg = "",
					form = window.document.forms[0],
					emsg = window.document.querySelectorAll(".emsg")[0],					
					emul = window.document.querySelectorAll(".emul")[0];
				if(!(/^[a-z0-9_-]{6,10}$/i).test(form.username.value)){
					ermsg += errorLi("Invalid username, needs to be 6-14 alphanumeric and - _ characters");
					valid = false;
				}
				if(!(/^[a-z0-9_-]{6,14}$/ig).test(form.password.value)){
					ermsg += errorLi("Invalid password, needs to be 6-14 alphanumeric and - _ characters");
					valid = false;
				}
				if (valid) {
					emsg.style.display = "none";
					return valid;
				} else {
					emul.innerHTML = ermsg;
					emsg.style.display = "block";
					return valid;
				}
			}
			function errorLi(text) {
				return ('<li>'+text+'</li>');
			}