extends layout

block head
	title Sign Up | Pictroid

block variables
	- var header = { transparent: true, dark: true }	
	- var bodyStyle = "background-image: url(/images/wallpaper.jpg); background-color: #000000;"

block content
	.jumbotron.dark.center(style="background: transparent;")
		form.form-signin.form-transparent(role="form", action="", method="POST")
			img(src="/images/logo/icon.png", alt="Pictroid", height="75")
			hr
			input.form-control(type="text", name="username", placeholder="Username")
			input.form-control(type="email", name="email", placeholder="Email")
			input.form-control(type="password", name="password", placeholder="Password")
			button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign Up
			br
			p(style="text-align: center;")
				| Already have an account?  Then <a href="/signin">Sign In</a>