extends layout

block head
	title Upload | Pictroid

block variables
	- var bodyStyle = "background-image: url(/images/wallpaper.jpg); background-color: #000000;"
	- var headerClasses = 'navbar-fixed-top navbar-transparent'
	- var charCount = 1000

block content
	.jumbotron.dark.center(style="background: transparent;")
		form.form-transparent(role="form", action="/upload", method="POST", onsubmit="return(validate());")
			img(src="/images/logo/icon.png", alt="Pictroid", height="75")
			hr
			#dropbox
				span.message
					| Drop images here to upload.
					br
					i (they will only be visible to you)
			p(id="or")
				| OR
			input.form-control(type="file", id="image", name="image")
			textarea.form-control(type="text", name="description", placeholder="Description" row="20")
			p(style="text-align:right; padding: 0px;")
				| You have #{charCount} characters left
			input.form-control(type="text", name="tags", placeholder="#Tags")
			p(id="emsg")
			button.btn.btn-lg.btn-primary.btn-block(type="submit") Upload
			script.
				function validate(){
					var valid = false,
						form = window.document.forms[0],
						emsg = window.document.querySelectorAll("#emsg")[0],
						fileName = $(form.image).val(),
						imgSize = (imgSize) ? readImage($("#image")[0].files[0]) : false; 
					if((/^.{0,1000}$/g).test(form.description.value) && ( /^([A-Z0-9]{2,9},{1}(\s{1})?)+([A-Z0-9]{2,9})$/ig).test(form.tags.value)){
						valid = (fileName.lastIndexOf("gif")===fileName.length-3) ? true : false;
					}
					if (valid) {
						emsg.innerHTML = "";
						return valid;
					} else {
						emsg.innerHTML = "Invalid credentials supplied";
						return valid;
					}
				}