extends layout

block head
	title= username+'\'s Profile | Pictroid'

block variables
	- var headerClasses = 'navbar-absolute'

block content
	.page
		.jumbotron.profile-page.dark
			.profile-container
				.profile-info
					img.profile-info-picture(src="", alt="Profile Picture")
					.profile-info-text
						.profile-name= '@'+username
						hr
						p Joined on: 
						p Asteroids submitted: 
						p Total views: 
				.profile-pics
					+feed()