extends layout

block head
	title= username+'\'s Profile | Pictroid'

block content
	+chickenLittle()
	.page
		.container.profile-container
			.profile-info
				img.profile-info-picture(src="", alt="")
				.profile-info-text
					.profile-name= username
					p Arizona, USA
					p Pics: 12
					p Profile Views: 432
					p Joined 2 years ago
			.profile-pics
				h3
					a(href="#") Pics
				hr
				+feed()