extends layout

block head
	title Email verification | Pictroid
	
block content
	.page
		.container
			h1 Confirm your email address 
			br
			p A confirmation email has been sent to #{user_email}. Please click on the confirmation link in the email to activate your account and to become an explorer.