extends ../layout

block head
	title Settings | Pictroid

block variables
	- var bodyClasses = "background-wallpaper"
	- var headerClasses = 'navbar-fixed-top navbar-transparent'

block content
	form.form-settings.form-transparent(role="form", action="", method="POST")
		img(src="/images/logo/icon.png", alt="Pictroid", height="75")
		hr
		.settings-combo
			img.settings-picture(src="", alt="")
			.settings-sidebar
				input.form-control(type="text", name="username", placeholder="Username")
				input.form-control(type="email", name="email", placeholder="Email")
				a.btn.btn-block#settings-picture-change Change Picture
		hr
		input.form-control(type="password", name="password", placeholder="New Password")
		input.form-control(type="password", name="password-confirm", placeholder="Confirm Password")
		button.btn.btn-lg.btn-block(type="submit") Update